apiVersion: apps/v1
kind: Deployment
metadata:
  name: wireguard
  namespace: wireguard
spec:
  selector:
    matchLabels:
      app: wireguard
  template:
    metadata:
      labels:
        app: wireguard
    spec:
      containers:
        - name: wireguard
          image: ghcr.io/linuxserver/wireguard:latest
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: Europe/Madrid
          securityContext:
            privileged: true
            capabilities:
              add: ["NET_ADMIN", "SYS_MODULE"]
          volumeMounts:
            - name: config
              mountPath: /config/wg0.conf
              subPath: wg0.conf
            - name: modules
              mountPath: /lib/modules
              readOnly: true
      volumes:
        - name: config
          secret:
            secretName: wireguard-config
        - name: modules
          hostPath:
            path: /lib/modules
